---
layout: default
title: Junjie Zhang
---

<h3>
	Junjie Zhang
	(张俊杰<a href="http://en.wikipedia.org/wiki/Chinese_character"><i class="icon-question-sign"></i></a>)
</h3>
<h5>
<a href="mailto:jzhang@sri.utoronto.ca">junjie.zhang@sri.utoronto.ca</a>
</h5>
<!-- Do I want to show a pic on the phone screen?
<div class="text-center visible-phone">
	<img src="assets/img/Yangqing.png" alt="photo" width="150px"/>
</div>
-->
<a class="visible-phone pull-left" href="#">
  <img class="media-object" src="assets/img/Junjie.jpg" width="96px" style="margin: 6px 10px" />
</a>

<p>
I am currently a post-doctoral research fellow at <a href="http://sunnybrook.ca/research">Sunnybrook Health Research Centre </a> and <a href="http://medicine.utoronto.ca/"> University of Toronto</a>, where I carry out research on radiomics/quanitative imaging and lead the effort on building machine intellegent systems for computer-aided diagnosis of prostate cancer. Previously, I was a project research scientist at <a href="http://industrialskyworks.com">Industrial SkyWorks Inc.</a>, building computer vision and machine learnign systems for automatic anomaly detection from UAV-based thermal imaging.
</p>

<!--
<p> 
I am currently a research scientist at Facebook, where I lead the effort of building a general, large-scale platform for the many AI applications at Facebook. Previously, I was a research scientist at Google Brain where I worked on computer vision, deep learning and TensorFlow.
</p>
-->

<p>
I obtained my Ph.D. in Geomatics Engineering at <a href="http://lassonde.yorku.ca/">York University</a>, advised by Prof. Gunho Sohn. During my graduate study I've worked/interned in both academic and industrial environments. I obtained a M.Sc. degree in <a href="https://www.itc.nl/">Geoinformatics</a> from <a href="https://www.utwente.nl/en/">University of Twente</a>, the Netherlands. I also hold a bachelar and a master degree from <a href="https://en.wikipedia.org/wiki/Wuhan_University">Wuhan University</a>, China.
</p>

<!--
<p>
I obtained my Ph.D. in Computer Science at UC Berkeley, advised by Prof. <a href="http://eecs.berkeley.edu/~trevor/">Trevor Darrell</a>. During my graduate study I've worked/interned at the National University of Singapore, Microsoft Research Asia, NEC Labs America, and Google Research. I obtained my bachelor and master degrees from Tsinghua University, China.</p>
-->

<p>
I host several open soucrce projects on Github as hobby. I authored <a href="#">SLICO#</a>, a SLICO superpixel segmentation algorithm in C#, and <a href="#">MatIO.NET</a>, a .Net library for reading and writing Matlab <a href="https://www.mathworks.com/help/pdf_doc/matlab/matfile_format.pdf" target="_blank">MAT-Files</a>.
</p>

<!--
<p>
I am the author of <a href="http://caffe.berkeleyvision.org/">Caffe</a>, which is now a <a href="http://bvlc.eecs.berkeley.edu/">BVLC</a> maintained, open-source deep learning framework. I've worked on the <a href="https://www.tensorflow.org/">TensorFlow</a> project at Google Brain.
</p>
-->

<p>
	I do have a <a href="https://ca.linkedin.com/in/junjiezhang">LinkedIn profile</a>.
</p>



<!--
 *** Research ***
-->
<h3>
	<a name='research'></a> Research 
</h3>

<p>
My research involves building machine learning systems in a number of quantitative fields, including medical imaging, health informatics, computer vision, and geomatics engineering. </p>

<p>I also do research on deep learning and data analytics in biomedical engineering/clinical projects. 
</p>

<p></p>

<p>
My current research topics include:
    <ul>
        <li> Machine intellegence for computer-aided diagnosis (CAD) of cancers.
        <li> Computational diffusion maganetic resonance imaging and Quantitative radiomics.
        <li> Statistical predictive models for cancer screening, risk stratification, and prognosis.
        <li> Deep learning in medical imaging and health informatics.
    </ul>
</p>


<!--
 *** Projects ***
-->
<p> (Most recent projects to be added) </p>
<h3>
	<a name='projects'></a> Selected Projects 
</h3>

{% include projects_highlight.html %}


<!--
 *** Publications ***
-->

<h3>
	<a name='publications'></a> Selected Publications <a href="publications.html">[Full List]</a>
</h3>
<p>
    Links to: 
	<a href="https://scholar.google.ca/citations?user=YoK7WG4AAAAJ&hl=en">[Google Scholar]</a>
    <a href="https://www.researchgate.net/profile/Junjie_Zhang6/publications">[ResearchGate]</a>
    <!--<a href="projects.html"> [Unpublished Projects]</a>-->
</p>

{% include publications_highlight.html %}



<!--
 *** Software ***
-->
<h3>
	<a name='software'></a> Software 
</h3>

{% include software.html %}


<!--
 *** Teaching ***
-->

<!--
<h3>
	<a name='teaching'></a> Teaching (GSI)
</h3>

{% include teaching.html %}
-->
