<div class="media">
  <a class="pull-left" href="assets/img/superpixel3.jpg">
    <img class="media-object" src="assets/img/macaw.jpg" width="96px" height="96px"/>
  </a>
  <div class="media-body">
    <p class="media-heading">
      <strong>
      	<a href="https://github.com/junjiez/SLICOSharp">SLICO#: SLICO Superpixel Segmentation in C# (.NET)</a>
      </strong>
    </p>
    <p class="abstract-text">
     SLICO# is a C# implementation of the SLICO superpixel segmentation algorithm by Achanta et al. [1]. It is a standalone program and can be compiled into a .Net library. 
     More information about SLICO superpixel segmenation can be found <a href="http://ivrl.epfl.ch/research/superpixels">here</a>. 
     <br/>
     [1] Radhakrishna Achanta, Appu Shaji, Kevin Smith, Aurelien Lucchi, Pascal Fua, and Sabine Susstrunk. "SLIC Superpixels Compated to State-of-the-art Superpixel Methods", IEEE TPAMI, November2012.
    </p>
  </div>
</div>

<div class="media">
  <a class="pull-left" href="assets/img/MatIO.NET.png">
    <img class="media-object" src="assets/img/MatIO.NET.png" width="96px" height="96px"/>
  </a>
  <div class="media-body">
    <p class="media-heading">
      <strong>
      	<a href="https://github.com/junjiez/MatIO.NET">MatIO.NET: A .NET Library for Reading and Writing Matlab MAT-Files</a>
      </strong>
    </p>
    <p class="abstract-text">
    The MatNETIO software contains a library for reading and writing MATLAB MAT files. The MatNETIO library (MatNETIO) is the primary interface for creating/opening MAT files, and writing/reading variables. 
    More information about Matlab MAT-files format can be found <a href="https://www.mathworks.com/help/pdf_doc/matlab/matfile_format.pdf">here</a>.
    </p>
  </div>
</div>
